.App {
  text-align: center;
}

.ui {
  &.attached {
    &.tabular {
      &.menu {
        display: flex;
        justify-content: space-around;
        margin-left: 1rem !important;
      }
    }
  }
}
